.container
%h1.center-align 
  Wizard of Rails
%hr.container
%br
%br 
%h5.center-align
  Master your programming skills
%p.center-align.container
  Welcome to Wizard of Rails a site created to help individuals build their programming skills and become better developers. We welcome all skill levels, whether you are a beginner or a senior developer we want to welcome all and hope to help anyone. 
%br
%br
%h5.center-align
  What We Teach
%p.center-align.container 
  Wizard of Rails will take you through live examples and we cover many topics such as HTML, Javascript, JQuery & Ajax. We will focus on teaching Rails and cover Associations in Rails, Ruby Gems, Active Record, Action Controllers, and testing with RSpec.
%br
%br
%h5.center-align
  About us
%p.center-align.container
  We are a group of 4 who are attending an 11 week long fullstack coding bootcamp called DevPoint Labs that resides in center SLC, Utah. DevPoint Labs offers a fullstack course that focuses on Ruby on Rails. They train students to become Junior Developers and cram so much information into the students to prepare them to land a Junior Dev position. 
%br
%br
%table.container.row.col.s12.m6
  %thead
    %tr
    %th{"data-field" => "Parker"} Parker 
    %th{"data-field" => "Trevor"} Trevor
    %th{"data-field" => "Christian"} Christian
    %th{"data-field" => "Scot"} Scot
  %tbody  
    %tr 
      %td
        %img.materialboxed{:src => "https://avatars0.githubusercontent.com/u/13872438?v=3&s=460", :width => "150"}/
      %td
        %img.materialboxed{:src => "https://avatars1.githubusercontent.com/u/13872431?v=3&s=460", :width => "150"}/
      %td
        %img.materialboxed{:src => "https://avatars0.githubusercontent.com/u/13805932?v=3&s=460", :width => "150"}/
      %td
        %img.materialboxed{:src => "https://avatars2.githubusercontent.com/u/11402625?v=3&s=460", :width => "150"}/  

%br
%br      
      



