.container
  .main_head
    %h1.center-align
      Wizard of Rails
  %hr
  %br
  %br
  %h5.center-align
    Master your programming skills
  %p.center-align
    Welcome to Wizard of Rails a site created to help individuals build their programming skills and become better developers. We welcome all skill levels, whether you are a beginner or a senior developer we want to welcome all and hope to help anyone.
  %br
  %br
  %h5.center-align
    What We Teach
  %p.center-align
    Wizard of Rails will take you through live examples and we cover many topics such as HTML, Javascript, JQuery & Ajax. We will focus on teaching Rails and cover Associations in Rails, Ruby Gems, Active Record, Action Controllers, and testing with RSpec.
  %br
  %br
  %h5.center-align
    About us
  %p.center-align
    We are a group of 4 who are attending an 11 week long fullstack coding bootcamp called DevPoint Labs that resides in center SLC, Utah. DevPoint Labs offers a fullstack course that focuses on Ruby on Rails. They train students to become Junior Developers and cram so much information into the students to prepare them to land a Junior Dev position.
  %br
  %br
  %table.row.col.s12.m6
    %thead
      %tr
      %th{"data-field" => "Parker"} Parker
      %th{"data-field" => "Trevor"} Trevor
      %th{"data-field" => "Christian"} Christian
      %th{"data-field" => "Scot"} Scot
    %tbody
      %tr
        %td
          %img.materialboxed{:src => "https://avatars0.githubusercontent.com/u/13872438?v=3&s=460", :width => "150"}/
          %a{href: "https://github.com/bondparkerbond", target: "_blank"}
            find me on Github
          %br
          %a{href: "https://www.linkedin.com/pub/parker-bond/102/790/181", target: "_blank"}
            find me on linked in
        %td
          %img.materialboxed{:src => "https://avatars1.githubusercontent.com/u/13872431?v=3&s=460", :width => "150"}/
          %a{href: "https://github.com/tslater3", target: "_blank"}
            find me on Github
          %br
          %a{href: "https://www.linkedin.com/pub/trevor-slater/8a/414/718", target: "_blank"}
            find me on linked in
        %td
          %img.materialboxed{:src => "https://avatars0.githubusercontent.com/u/13805932?v=3&s=460", :width => "150"}/
          %a{href: "https://github.com/cef2010", target: "_blank"}
            find me on Github
          %br
          %a{href: "https://www.linkedin.com/pub/christian-fuller/106/88b/1b0", target: "_blank"}
            find me on linked in
        %td
          %img.materialboxed{:src => "https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAL4AAAAJDU3ZDZkODk2LTA0NjAtNGU5ZC05OGY2LTJhYjg0YTRjNmYxMA.jpg", :width => "150"}/
          %a{href: "https://github.com/Scotchard22", target: "_blank"}
            find me on Github
          %br
          %a{href: "https://www.linkedin.com/pub/scot-chard/bb/850/721", target: "_blank"}
            find me on linked in

  %br
  %br
