.container
  .main_head
    %h1 Show View
  %hr
  %ul
    %li - In this show view, you have access to a specific instance of the model, rather than the entire collection of objects represented by the whole database table.
  %hr
  %h3
    = @ac_demo.title
  %p
    By:
    = @ac_demo.author
    %br
    = @ac_demo.text
  %hr
  = link_to 'Back', ac_demos_home_path
