.container
  %body
    %h1.center
      Learn about Associations
  %hr
    %p
      Rails Active Record makes  multiple associations a breeze. With Active Record associations, we can streamline these  operations by declaratively telling Rails that there is a connection between  models. 
  %hr
