.container
  %body
    %h1.center
      Learn about Associations
  %hr
    %p
      Rails Active Record makes  multiple associations a breeze. With Active Record associations, we can streamline these  operations by declaratively telling Rails that there is a connection between  models.
  %hr
    %row
      .center
        = link_to 'Has One Association', ar_one_path
        |
        = link_to 'Has Many Association', ar_hm_path
        |
        = link_to 'Has Many Through Association', ar_hm_through_path
