/ %ul#slide-out.side-nav.fixed
/  %a.button-collapse{"data-activates" => "mobile-demo", :href => "#"}
/   %i.material-icons menu  
/  %li.container
/   = link_to "Home", static_pages_home_path  
/  %li.container
/   = link_to "HTML & CSS", root_path
/  %li.container
/   = link_to "Javascript, Jquery, & Ajax",  static_pages_js_path
/  %li.container
/   = link_to "Testing", static_pages_development_path
 
 
